$backgroundColor: #EBEBEB;
$primaryColor: #191919;
$accentColor: #3F59E3;
$whiteColor: #FFFFFF;
$lightGreyColor: #DFDFDF;

//social
$vkColor: #2787F5;
$tgColor: #2CA5E0;
$waColor: #00E676;
$igColor: #D92D7F;

