/* MAIN COLORS */

$lightGreyColor: #EBEBEB;
$textColor: #1D1D1F;
$blackColor: #1D1D1F;
$accentColor: #3F59E3;
$whiteColor: #FFFFFF;
$hoverColor: #6F85F9;

/* SOCIAL COLORS */

$vkColor: #2787F5;
$tgColor: #2CA5E0;
$waColor: #00E676;
$igColor: #D92D7F;

/* PROJECTS COLOR */

// $remgel: ;

