@font-face {
  font-family: 'GT Walsheim';
  src: url('../assets/fonts/ZangeziSans.woff2') format('woff2'),
      url('../assets/fonts/ZangeziSans.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

$primaryFont: 'GT Walsheim',
Arial,
Helvetica,
sans-serif;

$secondFont: 'Inter',
Arial,
Helvetica,
sans-serif;