.hero {
    position: relative;
    z-index: 2;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: white;   
}

.hero__wrapper {
    display: grid;
    grid-template-areas:
        "header image"
        "nav image";
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    grid-auto-flow: column;
    height: 100%;
}

.hero__title {
    grid-area: header;
    color: black;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 4.2vw;
    line-height: 1.2;
    letter-spacing: -0.04em;;
    text-transform: uppercase;
}

.hero__image {
    grid-area: image;
    height: 100%;
    object-fit: cover;
    border-radius: 500px 500px 0 0;
    border: 3px solid black;
}

@media screen and (max-width: 999px) {
    .hero__wrapper {
        grid-template-areas:
            "header"
            "image"
            "nav";
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

    .hero__title {
        font-size: 48px;
        line-height: 1.2;
        letter-spacing: -0.02em;
    }

    .hero__image {
        height: 400px;
    }
}

@media screen and (max-width: 599px) {
    .hero__wrapper {
        row-gap: 20px;
    }

    .hero__title {
        font-size: 32px;
    }

    .hero__image {
        height: 240px;
        border: 2px solid black;
    }
}