@import "reset";
@import "colors";
@import "fonts";

* {
  transition: 0.1s;
  color: $accentColor;
}

html { 
  scroll-behavior: smooth;
}

body {
  background-color: $backgroundColor;
  font-size: 16px;
}

.hero {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: sticky;
  top: 0px;
  background-color: $backgroundColor;
}

.container {
  padding: 40px;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-areas: 
    "header image"
    "nav image";
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  column-gap: 40px;
  grid-auto-flow: column;
}

.title {
  grid-area: header;
  font-family: $primaryFont;
  font-weight: bold;
  font-style: normal;
  font-size: 3.5vw;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.nav__list {
  grid-area: nav;
  grid-column-end: 2;
}

.nav__item {
  display: inline-block;
  margin-right: 30px;
}

.nav__link {
  font-family: $secondFont;
  font-size: 2vw;
  line-height: 1;
  letter-spacing: -0.02em;
}

.image {
  grid-area: image;
  object-fit: cover;
  height: 100%;
}

.round {
  border-radius: 64px;
}

@media screen and (max-width: 999px) {
  .container {
    padding: 20px;
  }

  .wrapper {
    grid-template-areas: 
      "header"
      "image"
      "nav";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    row-gap: 40px;

  }

  .title {
    font-size: 48px;
    line-height: 1.2;
  }

  .nav__item {
    margin-right: 20px;
  }

  .nav__link {
    font-size: 20px;
  }

  .image {
    height: 400px;
  }

  .round {
    border-radius: 32px;
  }
}

@media screen and (max-width: 599px) {
  .wrapper {
    row-gap: 20px;
  }

  .title {
    font-size: 32px;
  }

  .nav__item {
    margin-right: 15px;
  }

  .image {
    height: 240px;
  }
}