@import "normalize";
@import "colors";
@import "fonts";
@import "hero";
@import "nav";
@import "projects";
@import "decorate";
@import "footer";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

.container {
  height: 100%;
  padding: 40px;
}

a {
  &:hover {
    color: orangered;
    cursor: pointer !important;
  }
}

canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

@media screen and (max-width: 999px) {
  .container {
    padding: 20px 15px;
  }
}