@import "normalize";
@import "colors";
@import "fonts";
@import "hero";
@import "nav";
@import "projects";
@import "footer";

* {
  transition: 0.1s;
  color: $textColor;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $lightGreyColor;
  font-size: 16px;
}

a {
  color: $accentColor;
  
    &:hover {
      color: $hoverColor;
  }
}

.container {
  padding: 40px;
  height: 100%;
}

.relative {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 999px) {
  .container {
    padding: 20px;
  }
}