.nav__list {
    grid-area: nav;
    grid-column-end: 2;
}

.nav__item {
    display: inline-block;
    margin-right: 30px;
}

.nav__link {
    font-family: $secondFont;
    font-weight: 400;
    font-size: 2vw;
    line-height: 1;
    letter-spacing: -0.02em;
}

@media screen and (max-width: 999px) {
    .nav__item {
        margin-right: 20px;
    }

    .nav__link {
        font-size: 30px;
    }
}

@media screen and (max-width: 599px) {
    .nav__item {
        margin-right: 15px;
    }

    .nav__link {
        font-size: 20px;
    }
}